{% extends "layout.html" %}
{% block content %}
<body style="background-color: black; text-align: center; padding-top: 50px;">

<h1 style="color: #1CDF63; font-size: 2em; margin-bottom: 20px;">Playlist URL:</h1>

<div style="color: white; margin-bottom: 30px;">
    <span style="color: yellow; font-weight: bold;">URL:</span>
    <!-- Use an anchor tag with target="_blank" to open the link in a new tab -->
    <h1 style="color: white; white-space: nowrap;">error {{ url }}!</h1>
</div>

</body>
{% endblock %}
