{% extends "layout.html" %}
{% block content %}
<body style="background-color:black;">
<h1 style="color: Green; white-space: nowrap; text-align: right; margin-right: 10px;">Harmonize Your Playlist Experience:</h1>
<h2 style="color: white; white-space: nowrap; text-align: right; margin-right: 10px;">Tune into Tailored Melodies with ChatGPT!!</h2>
<h3 style="color: white;">
    <button type="button"><a href="{{ url_for('playlist') }}" style="color: green;">Get Playlist</a></button>
</h3>
<br>
</body>
{% endblock %}
